<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Upload CV</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Upload CV for Analysis</h1>-->
<!--<form action="/upload-cv/" method="post" enctype="multipart/form-data">-->
<!--    <input type="file" name="file" accept="application/pdf">-->
<!--    <button type="submit">Upload</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

{% extends "base.html" %}
{% block title %}Upload CV{% endblock %}
{% block header %}Upload Your CV for Analysis{% endblock %}
{% block content %}
<form action="/upload-cv/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/pdf">
    <button type="submit">Submit & Analyze</button>
</form>
{% endblock %}


